#archive
  float: left
  margin-left: 20px
  width: 90%
  border-left: 1px solid black

.archive-item
  float: left
  clear: both
  width: 80%
  line-height: 20px
  margin: 5px 0 3px -2px
  border-left: 3px solid green

.archive-date
  float: left
  margin-left: 10px
  color: #999

.archive-title
  float: left
  margin-left: 10px

.archive-article-title
  text-decoration: none
  font-weight: bold
  color: color-default
  transition: color 0.2s
  line-height: line-height
  &:hover
    color: color-link
