#footer
  float: left
  clear: both
  width: 98%
  height: 60px
  padding: 6px 10px
  border-top: 1px dashed color-border
  color: color-grey
  margin-top: 50px

.footer-desc
  float: left
  font-size: 1.6em
  blockquote
    border-left: 4px solid green
    padding: 0 12px
    color: #777
    margin: 15px 0

.footer-info
  float: right
  line-height: line-height
  font-size: 0.85em
  margin: 15px 0
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
