.navbar
  width: nav-width
  height: nav-height
  position: fixed
  top: 0
  left: 0
  height: 100%
  background-color: gray
  z-index: 1000
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.menu-action
  margin: 0
  padding: 0

.menu-action>img
  float: left
  clear: both
  margin: 4px 6px
  width: 36px
  height: 36px
  border-radius: 6px
